<?xml version="1.0" encoding="UTF-8"?>
<Response>
  <Say>
    Hi! Thank you for calling the H G R S listener line.
    Please leave a message and we'll try to include it in our next broadcast!
  </Say>
  <Record playBeep="true" maxLength="300" action="recordingComplete" method="get" />
</Response>